extends ../layout

block content
    .page-header(style='display: flex; align-items: center')
        h3=project.name
        .flex-space
        a.col-sm-3.btn.btn-primary(href=`/cms/projects/${project.id}/edit`)
            i.fa.fa-pencil
            | Edit
        a.col-sm-3.btn.btn-primary(href=`/cms/projects/${project.id}/releases/create`)
            i.fa.fa-plus
            | Add Release
    .project-detail
        img.icon(src=project.gravatar())
        .right-area
            .my-row
                .id
                    =project.id
                .name
                    =project.name
            .my-row
                .latest.title
                    if project.releases.main && project.releases.main[0]
                        span.main.tag main #{project.releases.main.name}
                    if project.releases.ios && project.releases.ios[0]
                        span.ios.tag ios #{project.releases.ios[0].name}
                    if project.releases.android && project.releases.android[0]
                        span.android.tag android #{project.releases.android[0].name}
            .my-row
                .description
                    =project.description
    #releaseAccordion.accordion
        each track in project.tracks
            - const releases = project.releases[track];
            - const latest = releases[0];
            .card
                .card-header(id=`heading-${track}`)
                    h5.mb-0
                        =track
                    if latest
                        .release.latest
                            span(data-toggle='tooltip' data-placement='top' title=latest.note)
                                span.version
                                    | #{latest.name} (Latest)
                                span.date=latest.createdAt.toLocaleString()
                                a.btn.btn-link(href=`/${project.id}/download/${latest._id}`)
                                    | Download
                                a.btn.btn-link(href=`/cms/projects/${project.id}/releases/${latest._id}/edit`)
                                    | Edit
                                button.btn.btn-link(type='button', data-toggle='collapse', data-target=`#collapse-${track}`, aria-expanded='true', aria-controls=`collapse-${track}`)
                                    | Old Versions
                .collapse(id=`collapse-${track}`, aria-labelledby=`heading-${track}`, data-parent='#releaseAccordion')
                    .card-body
                        .release-list.list-group
                            .release-item.list-group-item
                                each release in releases
                                    .release
                                        span(data-toggle='tooltip' data-placement='top' title=release.note)
                                            span.version
                                                =release.name
                                            span.date=release.createdAt.toLocaleString()
                                            a.btn.btn-link(href=`/${project.id}/download/${release._id}`)
                                                | Download
                                            a.btn.btn-link(href=`/cms/projects/${project.id}/releases/${release._id}/edit`)
                                                | Edit
    script.
      document.addEventListener("DOMContentLoaded", function () {
        $('[data-toggle="tooltip"]').tooltip()
      });