extends ./layout

block content
  - const downloadLink = (release) => release.isIOS ? `itms-services://?action=download-manifest&url=${process.env.SERVER_ADDRESS}/${release.projectId}/download/${release._id}/download.plist` : `/${release.projectId}/download/${release._id}`;
  .page-header(style='display: flex; justify-content: space-between; align-items: center')
    h3 #{project.name} Release
  .project-detail
    img.icon(src=project.gravatar())
    .right-area
      .my-row
        .id
          =project.id
        .name
          =project.name
      .my-row
        .latest.title
          if project.main
            span.main.tag main #{project.main.name}
          if project.ios
            span.ios.tag ios #{project.ios.name}
          if project.android
            span.android.tag android #{project.android.name}
      .my-row
        .description
          =project.description
  #releaseAccordion.accordion
    each track in project.tracks
      - const releases = project.releases[track];
      - const latest = releases[0];
      if latest
        .card
          .card-header(id=`heading-${track}`)
            h5.mb-0
              =track
            .release.latest
              span(data-toggle='tooltip' data-placement='top' title=latest.note)
                span.version #{latest.name} (Latest)
                span.date=latest.createdAt.toLocaleString()
                a.btn.btn-link(href=downloadLink(latest))
                  | Download
                button.btn.btn-link(type='button', data-toggle='collapse', data-target=`#collapse-${track}`, aria-expanded='true', aria-controls=`collapse-${track}`)
                  | Old Versions

          .collapse(id=`collapse-${track}`, aria-labelledby=`heading-${track}`, data-parent='#releaseAccordion')
            .card-body
              .release-list.list-group
                .release-item.list-group-item
                  each release in releases
                    .release
                      span(data-toggle='tooltip' data-placement='top' title=release.note)
                        span.version=release.name
                        span.date=release.createdAt.toLocaleString()
                        a.btn.btn-link(href=downloadLink(release))
                          | Download
  script.
    document.addEventListener("DOMContentLoaded", function () {
      $('[data-toggle="tooltip"]').tooltip()
    });